/* color palette from <https://github.com/vuejs/theme> */
:root {
    --vt-c-white: #ffffff;
    --vt-c-white-soft: #f8f8f8;
    --vt-c-white-mute: #f2f2f2;
  
    --vt-c-black: #181818;
    --vt-c-black-soft: #222222;
    --vt-c-black-mute: #282828;
  
    --vt-c-blk: #222;
    --vt-c-blk30: #E6E6E6;
    --vt-c-blk70: #666;
    --vt-c-blk60: #888;
    --vt-c-blk50: #aaa;
    --vt-c-blkF7: #f7f7f7;
    --vt-c-ccc: #ccc;
    
    --van-base-font: 
      'SF Pro Display',
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      'Fira Sans',
      'Droid Sans',
      'Helvetica Neue',
      sans-serif;
  
    --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
    --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
    --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
    --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);
  
    --vt-c-text-light-1: var(--vt-c-gray);
    --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
    --vt-c-text-dark-1: var(--vt-c-white);
    --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);

  }
  
  /* semantic color variables for this project */
  :root {
    --color-background: var(--vt-c-white);
    --color-background-soft: var(--vt-c-white-soft);
    --color-background-mute: var(--vt-c-white-mute);
  
    --color-border: var(--vt-c-divider-light-2);
    --color-border-hover: var(--vt-c-divider-light-1);
  
    --section-gap: 160px;
  
    /* custom */
    --color-heading: var(--vt-c-blk);
    --color-text: var(--vt-c-blk70);
    --color-text2: var(--vt-c-blk60);
    --color-text3: var(--vt-c-blk50);
    
    --bg-blk: var(--vt-c-blk);
    --bg-line: var(--vt-c-blkF7);
    --bg-line2: var(--vt-c-blk30);

    --fw-normal: 400;
    --fw-bold: 700;
}

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
  }
  html {
    font-size: 10px;
  }
  body {
    min-height: 100vh;
    color: var(--color-text);
    background: var(--color-background);
    transition:
      color 0.5s,
      background-color 0.5s;
    line-height: 1;
    font-family: 'SF Pro Display' !important;
    font-size: 1rem;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  